<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}" >
    <title>Preclinic - Ajouter un patient</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datetimepicker.min.css}">

</head>
<!--/*@thymesVar id="patient" type="com.jee.clinicmanagementsystem.entity.Patient"*/-->
<body>
<div class="main-wrapper">
    <div th:replace="/includes/header :: header"> </div>
    <!-- menu here -->
    <div th:replace="/includes/gp_side_menu :: gp_side_menu"> </div>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">patient</h4>
                </div>
            </div>
           
                <div class="col-lg-8 offset-lg-2">
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    <span class="title">Prénom :</span>
                                     <span class="text" th:text="*{patientByid.firstName}"></span>
                                      
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                      <span class="title">Nom :</span>
                                     <span class="text"  th:text="*{patientByid.lastName}"></span>
                                      
                                    </div>
                                </div>
                               
                                <div class="col-sm-6">
                                    <div class="form-group">
                                     <span class="title">Email :</span>
                                     <span class="text"  th:text="*{patientByid.email}"></span>
                                    </div>
                                </div>
								<div class="col-sm-6">
                                    <div class="form-group">
                                    <span class="title">date de naissance :</span>
                                     <span class="text"   th:text="*{patientByid.dateOfBirth}"></span>
                                       
                                    </div>
                                </div>
                                <div class="col-sm-6">
									<div class="form-group gender-select">
									 <span class="title">Sexe :</span>
                                     <span class="text"   th:text="*{patientByid.sex}"></span>
                                       
									</div>
                                </div>
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
											 <span class="title">Address :</span>
                                     		 <span class="text"   th:text="*{patientByid.adress}"></span>
                                       
											</div>
										</div>
										
									</div>
								</div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                     		 <span class="title">Phone :</span>
                                     		 <span class="text"   th:text="*{patientByid.phoneNumber}"></span>
                                    </div>
                                </div>
                               
                            </div>
                            
                            <div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th>Patient</th>
										<th>Médecin </th>
										<th>Date du RDV</th>
										<th>Heure du RDV</th>
										<th>Statut</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
								
									<tr  th:each="rdv : ${findRdvBypatientId}" th:id="${rdv.id}">
									     <td th:text="${rdv.patient.firstName+' '+rdv.patient.LastName}"> </td>
									      <td th:text="${rdv.medId}"> </td>
									     <td th:text="${rdv.rdvDate}"> </td>
									     <td th:text="${rdv.rdvTime}"> </td>
									     <td th:switch="${rdv.status}">
									         <span th:case="1"class="custom-badge status-red">Inactive</span>
									         <span th:case="0"class="custom-badge status-green">Active</span>
									     </td>
									     <td class="text-right">
												<div class="dropdown dropdown-action">
													<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" href="edit-appointment.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
														<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
													</div>
												</div>
										</td>
								  
								   
								   
									
									
								</tbody>
							</table>
							<div class="alert alert-dark text-center" style=""
							 th:if="${findRdvBypatientId.empty}"><strong>pas de rendez-vous !</strong>
							 </div>
						</div>
	
                          
                           
                </div>
            </div>
        </div>
    </div>

<div class="sidebar-overlay" data-reff=""></div>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/select2.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>

</body>



</html>